profiles {
    // Profiles are used to match the processes defined in a workflow
    // to the available compute resources.
    //
    // standard: use this profile as a default setting for the 
    // most generic compute platform that can complete the workflow
    //
    standard {
        process.executor = 'local'
        process.cpus = 4
        process.memory = '2 GB'
    }
    //
    // delta: this profile matches QB high-end developement server
    // where a SLURM resource manager is in operation.
    //
    delta {
        process.executor = 'slurm'
        process.queue = 'debug'
        process.clusterOptions = "-n 4"
        process.memory = '16 GB'
    }
    //
    // cluster_pawsey: this profile matches Pawsey's Setonix HPC
    // operating through the SLURM resource manager there.
    //
    cluster_pawsey {
        params.slurm_account = 'director2176'
        process.clusterOptions = "--account=${params.slurm_account}"
        process.executor = 'slurm'
        process.queue = 'work'
        process.cpus = 16
        process.memory = '16 GB'
    }
    //
    // cluster_gpu_pawsey: [For future use] This profile matches a GPU enabled 
    // HPC cluster at Pawsey
    //
    cluster_gpu_pawsey {
        process.executor = 'slurm_topaz'
        process.queue = 'gpuq'
        process.cpus = 16
        process.memory = '16 GB'
    }
}
