profiles {
    standard {
        process.executor = 'local'
        process.cpus = 4
        process.memory = '2 GB'
    }
    delta {
        process.executor = 'slurm'
        process.queue = 'debug'
        process.clusterOptions = "-n 4"
        process.memory = '16 GB'
    }
    cluster_pawsey {
        params.slurm_account = 'director2176'
        process.clusterOptions = "--account=${params.slurm_account}"
        process.executor = 'slurm'
        process.queue = 'work'
        process.cpus = 16
        process.memory = '16 GB'
    }
    cluster_gpu_pawsey {
        process.executor = 'slurm_topaz'
        process.queue = 'gpuq'
        process.cpus = 16
        process.memory = '16 GB'
    }
    gpu {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
    }
    qdk {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
    }
    aws {
        process.cpus = 1
        process.memory = '2 GB'
    }
}
